.DS_Store
*.elf
*.stash
*.bin
*.user
*.autosave
demos
.vs
.idea/
CmakeSettings.json
cmake-build-*/
build/
/*build/
build-clang/
build-DobieStation-*
debug
release
Makefile*
*.iso
*.cso
*.snp
*_log.txt
*.log
